{
  "extends": [
    "react-app", 
    "plugin:prettier/recommended"
  ],
  "plugins": ["react", "prettier"],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true,
    "Headers": true,
    "Request": true,
    "fetch": true
  },
}
