.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    display: grid;
    align-items:center;
    align-content:center;
    margin: 2em auto;
    grid-template-rows: repeat(10, minmax(70px, 1fr));
    justify-items: center;
}

.container div div {
    text-align: center;
}
