
.item > * {
    min-width:0
}

.header {
    cursor:default;
    display: inline-grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8, 150px);
    grid-column: 1/ -1;
    justify-content: center;
    place-items: center;
}

.item {
    cursor: pointer;
    display: inline-grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8, 150px);
    grid-column: 1/ -1;
    justify-content: center;
    place-items: center;
    text-decoration: inherit;
    color: inherit;
}


.item:nth-child(2n) {
    background-color: #dfdfdf;
}

.item:nth-child(2n+1) {
    background-color: white;
}


.item:hover{
    filter:brightness(80%);
}


