.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.container {
    display: grid;
    align-items:center;
    align-content:center;
    margin: 2em auto;
    grid-template-rows: repeat(10, minmax(70px, 1fr));
    justify-items: center;
}

.container div div {
    text-align: center;
}

.item > * {
    min-width:0
}

.container .item:nth-child(2n) {
    background-color: yellow;
}

.item {
    display: inline-grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8, 150px);
    grid-column: 1/ -1;
    justify-content: center;
    place-items: center;
}